@charset "utf-8";
/* CSS Document */
body{ width:100%; padding:0; margin:0; background:#fff;  font-family: 'Raleway',sans-serif; }
a{ outline:none; }
a:focus, a:hover{ outline:none; text-decoration:none; }
ul{ padding:0; margin:0; list-style:none; }
@media screen and (min-width: 1300px) { 
	.container{ max-width:1200px; }
}
/* ___________________ Fontface Start ______________________*/

@font-face {
    font-family: 'Josefin Sans Thin';
    src: url('../fonts/JosefinSans-Thin.eot');
    src: url('../fonts/JosefinSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Thin.woff2') format('woff2'),
        url('../fonts/JosefinSans-Thin.woff') format('woff'),
        url('../fonts/JosefinSans-Thin.ttf') format('truetype'),
        url('../fonts/JosefinSans-Thin.svg#JosefinSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../fonts/JosefinSans-Bold.eot');
    src: url('../fonts/JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('../fonts/JosefinSans-Bold.woff') format('woff'),
        url('../fonts/JosefinSans-Bold.ttf') format('truetype'),
        url('../fonts/JosefinSans-Bold.svg#JosefinSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans Regular';
    src: url('../fonts/JosefinSans-Regular.eot');
    src: url('../fonts/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('../fonts/JosefinSans-Regular.woff') format('woff'),
        url('../fonts/JosefinSans-Regular.ttf') format('truetype'),
        url('../fonts/JosefinSans-Regular.svg#JosefinSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../fonts/JosefinSans-Light.eot');
    src: url('../fonts/JosefinSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-Light.woff2') format('woff2'),
        url('../fonts/JosefinSans-Light.woff') format('woff'),
        url('../fonts/JosefinSans-Light.ttf') format('truetype'),
        url('../fonts/JosefinSans-Light.svg#JosefinSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans SemiBold';
    src: url('../fonts/JosefinSans-SemiBold.eot');
    src: url('../fonts/JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('../fonts/JosefinSans-SemiBold.woff') format('woff'),
        url('../fonts/JosefinSans-SemiBold.ttf') format('truetype'),
        url('../fonts/JosefinSans-SemiBold.svg#JosefinSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* ___________________ Fontface Ends _______________________*/


/* ___________________ Header Starts _______________________*/
.navbar-default{ padding:40px 0 10px 0; margin:0; background:none; border:none; transition: all 600ms ease-in-out; z-index:2; }
.navbar-default .logo-block{ margin:0; padding:0; }
.navbar-default .logo-block a{ display:inline-block; }
.navbar-default .rt-block{ margin:0; padding:0; display:flex; align-items:center; }
.navbar-default .rt-block .mid-block{ margin:0; padding:0; }

.navbar-default .rt-block .last-block{ margin:0; padding:0; display:flex; }
.navbar-default .rt-block .last-block .lt-side{ margin:0 0 0 32px; padding:0; }
.navbar-default .rt-block .last-block .lt-side a{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:17px; font-weight:400; color:#fff; margin:0; padding:11px 35px 10px 35px; border-radius:3px; display:inline-block; background:#FF5300; transition:all .4s ease; }
.navbar-default .rt-block .last-block .lt-side a:hover{ color:#000; }
.navbar-default .rt-block .last-block .rt-side{ margin:0 0 0 32px; padding:0; }
.navbar-default .rt-block .last-block .rt-side a{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:17px; font-weight:400; color:#FF5300; margin:0; padding:11px 35px 10px 45px; border-radius:3px; border:1px solid #FF5300; display:inline-block; background:url(../images/paypal-1.png) no-repeat 22px center; transition:all .4s ease; }
.navbar-default .rt-block .last-block .rt-side a:hover{ color:#000; }
/* ___________________ Header End _______________________*/


/* ___________________ Banner Starts _______________________*/
.home-slider{ margin:-90px 0 0 0; padding:0; position:relative; z-index:1; }
.home-slider .banner{ margin:0; padding:0; }
.home-slider .banner img{ width:100%; }

.home-slider .banner-second{ margin:0; padding:0; display:none; }
.home-slider .banner-second img{ width:100%; }

.home-slider .desc{ margin:0; padding:0; position:absolute; left:0; bottom:20%; width:100%; }
.home-slider .desc{ margin:0; padding:0; }
.home-slider .desc .text-block{ margin:0; padding:0; }
.home-slider .desc .text-block .top{ margin:0; padding:0; }
.home-slider .desc .text-block .top h2{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#FF5300; margin:0; padding:0 0 16px 34px; position:relative; }
.home-slider .desc .text-block .top h2:before{ position:absolute; content:""; width:25px; height:1px; background:#FF5300; left:0; top:6px; }

.home-slider .desc .text-block .top h1{ font-family:'Josefin Sans SemiBold'; font-size:52px; line-height:60px; font-weight:600; color:#222222; margin:0; padding:0 0 34px 0; }
.home-slider .desc .text-block .top h1 span{ display:block; }

.home-slider .desc .text-block .top p{ font-family:'Josefin Sans Regular'; font-size:16px; line-height:24px; font-weight:400; color:#555555; margin:0; padding:0; }
.home-slider .desc .text-block .top p span{ display:block; }

.home-slider .desc .text-block .mid-block{ margin:0; padding:36px 0 47px 0; }

.home-slider .desc .text-block .bottom{ margin:0; padding:0; }
.home-slider .desc .text-block .bottom h2{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#FF5300; margin:0; padding:0 32px 25px 0; position:relative; display:inline-block; }
.home-slider .desc .text-block .bottom h2:after{ position:absolute; content:""; width:25px; height:1px; background:#FF5300; right:0; top:7px; }
.home-slider .desc .text-block .bottom .big-box{ margin:0; padding:0; max-width:620px; display:flex; justify-content:space-between; }
.home-slider .desc .text-block .bottom .big-box .box{ margin:0; padding:0; }
.home-slider .desc .text-block .bottom .big-box .box a{ border:1px solid #E5E5E5; border-radius:5px; margin:0; padding:7px 10px 7px 10px; display:inline-block; }
/* ___________________ Banner End _______________________*/


/* ___________________ Latest Product Starts _______________________*/
.latest-product{ margin:0; padding:0; }
.latest-product .big-block{ margin:-65px 0 0 0; padding:60px 65px; box-shadow:0px 0px 22px 0px rgba(0, 0, 0, 0.09); box-sizing:border-box; z-index:2; position:relative; background:#fff; border-radius:8px; }
.latest-product .big-block .top{ margin:0; padding:0 0 56px 0; display:flex; align-items:center; justify-content:space-between; }
.latest-product .big-block .top h2{ font-family:'Josefin Sans SemiBold'; font-size:32px; line-height:34px; font-weight:600; color:#222222; margin:0; padding:0; }
.latest-product .big-block .top a{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#fff; margin:0; padding:11px 32px 10px 32px; display:inline-block; background:#FF5300; border-radius:3px; transition:all .4s ease; }
.latest-product .big-block .top a:hover{ color:#000; }
.latest-product .big-block .mid-blocks{ margin:0; padding:0 0 50px 0; }
.latest-product .big-block .mid-blocks .block{ margin:0; padding:0 0 36px 0; }
.latest-product .big-block .mid-blocks .block .box{ margin:0; padding:0; }
.latest-product .big-block .mid-blocks .block .box img{ width:100%; }
.latest-product .big-block .mid-blocks .block .box h3{ font-family:'Josefin Sans SemiBold'; font-size:24px; line-height:26px; font-weight:600; color:#222222; margin:0; padding:14px 0 13px 0; }
.latest-product .big-block .mid-blocks .block .box p{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:23px; font-weight:400; color:#777777; margin:0; padding:0 0 23px 0; }
.latest-product .big-block .mid-blocks .block .box .text{ margin:22px 0 0 0; padding:40px 0 30px 20px; border-left:1px solid #C2C2C2; }
.latest-product .big-block .mid-blocks .block .box .text ul{ margin:0; padding:0; }
.latest-product .big-block .mid-blocks .block .box .text ul li{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#C2C2C2; margin:0; padding:0 0 13px 0; }

.latest-product .big-block .bottom{ margin:0; padding:0; text-align:center; }
.latest-product .big-block .bottom a{ font-family:'Josefin Sans SemiBold'; font-size:14px; line-height:16px; font-weight:600; color:#FF5300; margin:0; padding:11px 19px 10px 19px; display:inline-block; border-radius:3px; border:1px solid #FF5300; position:relative; transition:all .4s ease; }
.latest-product .big-block .bottom a:hover{ color:#fff; background:#FF5300; }
.latest-product .big-block .bottom a:before{ position:absolute; content:""; width:1px; height:24px; background:#E5E5E5; left:-21px; top:7px; }
.latest-product .big-block .bottom a:after{ position:absolute; content:""; width:1px; height:24px; background:#E5E5E5; right:-21px; top:7px; }
/* ___________________ Latest Product End _______________________*/


/* ___________________ Blog Post Starts _______________________*/
.blog-post{ margin:0; padding:97px 0 60px 0; }
.blog-post .tex{ margin:0; padding:0 0 36px 0; text-align:center; }
.blog-post .tex h2{ font-family:'Josefin Sans SemiBold'; font-size:32px; line-height:34px; font-weight:600; color:#222222; margin:0; padding:0; }
.blog-post .big-blocks{ margin:0; padding:0 0 0px 0; }
.blog-post .big-blocks .blog-box{ margin:0; padding:0 0 60px 0; position:relative; }
.blog-post .big-blocks .blog-box .box{ margin:0 20px 0 0; padding:32px 30px; background:#fff; box-sizing:border-box; box-shadow:0px 0px 22px 0px rgba(0, 0, 0, 0.09); }
.blog-post .big-blocks .blog-box .slick-slide > div{ padding:20px 20px; }
.blog-post .big-blocks .blog-box .box .top-text{ margin:0; padding:0; position:relative; }
.blog-post .big-blocks .blog-box .box .top-text:before{ position:absolute; content:""; width:4px; height:45px; background:#FF5300; left:-30px; top:0; }
.blog-post .big-blocks .blog-box .box .top-text h3{ font-family:'Josefin Sans Regular'; font-size:16px; line-height:18px; font-weight:400; color:#FF5300; margin:0; padding:0 0 7px 0; }
.blog-post .big-blocks .blog-box .box .top-text h3 span{ color:#ACACAC; padding-left:14px; font-size:14px; }
.blog-post .big-blocks .blog-box .box .top-text h4{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#ACACAC; margin:0; padding:0; }
.blog-post .big-blocks .blog-box .box h2{ font-family:'Josefin Sans SemiBold'; font-size:24px; line-height:34px; font-weight:600; color:#222222; margin:0; padding:22px 0 15px 0; }
.blog-post .big-blocks .blog-box .box p{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:23px; font-weight:400; color:#777777; margin:0; padding:0px 0 39px 0; }
.blog-post .big-blocks .blog-box .box a{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:23px; font-weight:400; color:#FF5300; margin:0; padding:10px 25px 9px 25px; display:inline-block; border:1px solid #FF5300; border-radius:3px; transition:all .4s ease; }
.blog-post .big-blocks .blog-box .box a:hover{ color:#fff; background:#FF5300; }
.blog-post .big-blocks .blog-box .slick-prev.slick-arrow{ text-indent:-9999px; background:none; border:none; background:url(../images/arrow-left.png) no-repeat center; padding:0 10px 0 10px; position:absolute; bottom:0; left:47%; z-index:3; }
.blog-post .big-blocks .blog-box .slick-next.slick-arrow{ text-indent:-9999px; background:none; border:none; background:url(../images/arrow-right.png) no-repeat center; padding:0 10px 0 10px; position:absolute; bottom:0; right:47%; }
/* ___________________ Blog Post End _______________________*/


/* ___________________ Instagram Feed Starts _______________________*/
.instagram-feed{ margin:0; padding:97px 0 110px 0; }
.instagram-feed .tex{ margin:0; padding:0 0 36px 0; text-align:center; }
.instagram-feed .tex h2{ font-family:'Josefin Sans SemiBold'; font-size:32px; line-height:34px; font-weight:600; color:#222222; margin:0; padding:0; }
.instagram-feed .images{ margin:0; padding:0; }
.instagram-feed .images img{ width:100%; }
/* ___________________ Instagram Feed End _______________________*/


/* ___________________ Subscribe Starts _______________________*/
.subscribe{ margin:0; padding:40px 0 60px 0; text-align:center; }
.subscribe .block{ margin:0; padding:0; }
.subscribe .block .row{ justify-content:center; }
.subscribe .block .top-text{ margin:0; padding:0; }
.subscribe .block .top-text h2{ font-family:'Josefin Sans SemiBold'; font-size:32px; line-height:34px; font-weight:600; color:#222222; margin:0; padding:0 0 22px 0; }
.subscribe .block .top-text p{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:23px; font-weight:400; color:#777777; margin:0; padding:0 0 24px 0; }
.subscribe .block .top-text p span{ display:block; }
.subscribe .block .search-bar{ margin:0; padding:0; position:relative; }
.subscribe .block .search-bar form .form-control{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#C2C2C2; background: #fff; height:60px; border-radius:3px; margin:0 0 27px 0; padding-left:26px; }
.subscribe .block .search-bar form .btn{ font-family:'Josefin Sans Regular', sans-serif; font-size:14px; line-height:16px; font-weight:400; color:#fff; margin: 0; padding:21px 58px 20px 28px; border-radius:0 3px 3px 0; background:#FF5300 url(../images/white-arrow.png) no-repeat 86% center; position:absolute; top:0; right:0; transition:all .3s ease; }
.subscribe .block .search-bar form .btn:hover{ color:#373737; background:#FF5300 url(../images/white-arrow.png) no-repeat 90% center; }
/* ___________________ Subscribe End _______________________*/


/* ___________________ Footer Starts _______________________*/
.footer{ margin:0; padding:0 0 50px 0; }
.footer .big-block{ margin:0; padding:0 0 50px 0; display:flex; justify-content:space-between; border-bottom:1px solid #E5E5E5; }
.footer .big-block .box{ margin:0 0px 0 0; padding:0 0 0px 0; }
.footer .big-block .box .top{ margin:0; padding:0 0 24px 0; }
.footer .big-block .box p{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:23px; font-weight:400; color:#777777; margin:0; padding:0 0 26px 0; }
.footer .big-block .box p span{ display:block; }
.footer .big-block .box .social{ margin:0; padding:0; }
.footer .big-block .box .social h2{ font-family:'Josefin Sans Regular'; font-size:16px; line-height:18px; font-weight:400; color:#222222; margin:0; padding:0 0 17px 0; }
.footer .big-block .box .social .icon{ margin:0; padding:0; display:flex; }
.footer .big-block .box .social .icon a{ font-size:26px; font-weight:600; color:#FF5300; margin:0 20px  0 0; padding:0; display:inline-block; border:1px solid #FF5300; border-radius:50%; height:50px; width:50px; display:flex; align-items:center; justify-content:center; transition:all .5s ease; }
.footer .big-block .box .social .icon a:hover{ color:#999999; }
.footer .big-block .box .top-text{ margin:0; padding:0; }
.footer .big-block .box .top-text h2{ font-family:'Josefin Sans Regular'; font-size:16px; line-height:18px; font-weight:400; color:#222222; margin:0; padding:0 0 30px 0; }
.footer .big-block .box ul{ margin:0; padding:0; }
.footer .big-block .box ul li{ margin:0; padding:0; }
.footer .big-block .box ul li a{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:44px; font-weight:400; color:#999999; margin:0; padding:0; display:inline-block; transition:all .5s ease; }
.footer .big-block .box ul li a:hover{ color:#FF5300; }
.footer .big-block .box .big-box{ margin:0; padding:0; }
.footer .big-block .box .big-box .images{ margin:0; padding:0; margin-bottom:20px; }
.footer .bottom{ margin:0; padding:0; text-align:center; }
.footer .big-block .box .big-box .images a{ display:inline-block; padding:7px 10px 7px 10px; margin:0; border:1px solid #E5E5E5; border-radius:5px; }
.footer .bottom h5{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#999999; margin:0; padding:51px 0 0 0; }
/* ___________________ Footer End _______________________*/


/*--------------Inner Page Start---------------*/

/*-------About Us Start-------*/
.home-slider .description{ margin:0 auto; padding:0; width:100%; position:absolute; left:0; right:0; bottom:40%; }
.home-slider .description .text{ margin:0; padding:0; text-align:center; }
.home-slider .description .text h1{ font-family:'Josefin Sans SemiBold'; font-size:52px; line-height:42px; font-weight:600; color:#222222; margin:0 0 10px 0; padding:0; display:inline-block; border-bottom:2px solid #000; }
.home-slider .description .text h3{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#555555; margin:0; padding:0; }

.man-section{ margin:0; padding:0; }
.man-section .block{ margin:-88px 0 0 0; padding:0; display:flex; position:relative;z-index:3; }
.man-section .block .image-section{ margin:0; padding:0; }
.man-section .block .text-section{ margin:0; padding:142px 0 0 0; }
.man-section .block .text-section h2{ font-family:'Josefin Sans SemiBold'; font-size:32px; line-height:44px; font-weight:600; color:#222222; margin:0; padding:0 0 41px 0; position:absolute; left:29%; top:20%; }
.man-section .block .text-section .bottom{ margin:0; padding:120px 0 0 40px; }
.man-section .block .text-section p{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:23px; font-weight:400; color:#777777; margin:0; padding:0 0 26px 0; }

.icon-section{ margin:0; padding:97px 0 45px 0; }
.icon-section .text{ margin:0; padding:0 0 50px 0; text-align:center; }
.icon-section .text h2{ font-family:'Josefin Sans SemiBold'; font-size:32px; line-height:34px; font-weight:600; color:#222222; margin:0; padding:0; }
.icon-section .big-block{ margin:0 auto; padding:0; max-width:800px; }
.icon-section .big-block .block{ display:flex; justify-content:space-between; margin:0 0 25px 0; padding:0; }
.icon-section .big-block .block:nth-child(2){ max-width:700px; margin:0 auto; }

.video{ margin:0; padding:55px 0 0 0; }
.video .top{ margin:0; padding:0; text-align:center; }
.video .top h2{ font-family:'Josefin Sans SemiBold'; font-size:32px; line-height:34px; font-weight:600; color:#222222; margin:0; padding:0 0 31px 0; }
.video .top p{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:23px; font-weight:400; color:#777777; margin:0; padding:0 0 50px 0; }
.video .top p span{ display:block; }
.video .bottom{ margin:0; padding:0; }
.video .bottom .blockss{ margin:0; padding:0; position:relative; text-align:center; }
.video .bottom .blockss span{ position:absolute; left:0; right:0; bottom:40%; margin:0 auto; }
.video .bottom .blockss span img{ width:8%; }
/*-------About Us End-------*/


/*-------Episode Start-------*/
.latest-product .big-block .top.center{ justify-content:center; }
/*-------Episode End-------*/

/*-------Blog Start-------*/
.blog-post .big-blocks .box{ margin:0 20px 50px 0; padding:32px 30px; background:#fff; box-sizing:border-box; box-shadow:0px 0px 22px 0px rgba(0, 0, 0, 0.09); }
.blog-post .big-blocks .slick-slide > div{ padding:20px 20px; }
.blog-post .big-blocks .box .top-text{ margin:0; padding:0; position:relative; }
.blog-post .big-blocks .box .top-text:before{ position:absolute; content:""; width:4px; height:45px; background:#FF5300; left:-30px; top:0; }
.blog-post .big-blocks .box .top-text h3{ font-family:'Josefin Sans Regular'; font-size:16px; line-height:18px; font-weight:400; color:#FF5300; margin:0; padding:0 0 7px 0; }
.blog-post .big-blocks .box .top-text h3 span{ color:#ACACAC; padding-left:14px; font-size:14px; }
.blog-post .big-blocks .box .top-text h4{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#ACACAC; margin:0; padding:0; }
.blog-post .big-blocks .box h2{ font-family:'Josefin Sans SemiBold'; font-size:24px; line-height:34px; font-weight:600; color:#222222; margin:0; padding:22px 0 15px 0; }
.blog-post .big-blocks .box p{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:23px; font-weight:400; color:#777777; margin:0; padding:0px 0 39px 0; }
.blog-post .big-blocks .box a{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:23px; font-weight:400; color:#FF5300; margin:0; padding:10px 25px 9px 25px; display:inline-block; border:1px solid #FF5300; border-radius:3px; transition:all .4s ease; }
.blog-post .big-blocks .box a:hover{ color:#fff; background:#FF5300; }
.blog-post .big-blocks .slick-prev.slick-arrow{ text-indent:-9999px; background:none; border:none; background:url(../images/arrow-left.png) no-repeat center; padding:0 10px 0 10px; position:absolute; bottom:0; left:47%; z-index:3; }
.blog-post .big-blocks .slick-next.slick-arrow{ text-indent:-9999px; background:none; border:none; background:url(../images/arrow-right.png) no-repeat center; padding:0 10px 0 10px; position:absolute; bottom:0; right:47%; }
/*-------Blog End-------*/

/*-------Second Blog Start-------*/
.programmer{ margin:0; padding:67px 0 47px 0; }
.programmer .text-block{ margin:0 auto; padding:0; max-width:800px; }
.programmer .text-block h2{ font-family:'Josefin Sans SemiBold'; font-size:32px; line-height:44px; font-weight:600; color:#222222; margin:0; padding:0 0 27px 0; }
.programmer .text-block ul{ margin:0; padding:0; display:flex; align-items:center; }
.programmer .text-block ul li{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:18px; font-weight:400; color:#ACACAC; margin:0; padding:0 11px 34px 0; }
.programmer .text-block ul li:nth-child(1){ color:#FF5300; font-size:16px; }
.programmer .text-block p{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:23px; font-weight:400; color:#555555; margin:0; padding:0 11px 26px 0; }

.programmer .bottom{ margin:0 auto; padding:35px 35px; max-width:800px; border-left:1px solid #E5E5E5; }
.programmer .bottom p{ font-family:'Josefin Sans Mediumn'; font-size:22px; line-height:32px; font-weight:500; color:#222222; font-style:italic; margin:0; padding:0; }



.the-reason{ margin:0; padding:0 0 37px 0; }
.the-reason .big-block{ margin:0 auto; padding:0; max-width:800px; }
.the-reason .big-block .text{ margin:0; padding:0; }
.the-reason .big-block .text h2{ font-family:'Josefin Sans SemiBold'; font-size:22px; line-height:24px; font-weight:600; color:#222222; margin:0; padding:0 0 50px 0; }
.the-reason .big-block .text h3{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:23px; font-weight:400; color:#555555; margin:0; padding:0 0 22px 0; }
.the-reason .big-block .text p{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:23px; font-weight:400; color:#555555; margin:0; padding:0 0 25px 22px; position:relative; }
.the-reason .big-block .text p:before{ position:absolute; content:""; width:12px; height:12px; border-radius:50%; background:#FF5300; left:0; top:5px; }
.the-reason .big-block .man-section{ margin:0; padding:0; }
.the-reason .big-block .man-section h2{ font-family:'Josefin Sans SemiBold'; font-size:24px; line-height:26px; font-weight:600; color:#222222; margin:0; padding:0 0 31px 0; }
.the-reason .big-block .man-section .man-block{ margin:0 auto; padding:0 46px; max-width:650px; display:flex; align-items:center; border-left:1px solid #E5E5E5; border-right:1px solid #E5E5E5; }
.the-reason .big-block .man-section .man-block .lt-block{ margin:0; padding:0; }
.the-reason .big-block .man-section .man-block .rt-block{ margin:0; padding:0 0 0 14px; }
.the-reason .big-block .man-section .man-block .rt-block h3{ font-family:'Josefin Sans SemiBold'; font-size:16px; line-height:18px; font-weight:600; color:#222222; margin:0; padding:0 0 5px 0; }
.the-reason .big-block .man-section .man-block .rt-block p{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:23px; font-weight:400; color:#555555; margin:0; padding:0 0 5px 0; }
.the-reason .big-block .man-section .man-block .rt-block .bottom{ margin:0; padding:16px 0px 0 0px; display:flex; align-items:center; justify-content:space-between; }
.the-reason .big-block .man-section .man-block .rt-block .bottom a{ font-family:'Josefin Sans Regular'; font-size:12px; line-height:13px; font-weight:400; color:#FF5300; margin:0; padding:6px 26px 5px 13px; display:inline-block; border:1px solid #FF5300; border-radius:2px; background:url(../images/forward-arrow.png) no-repeat 92% center; }
.the-reason .big-block .man-section .man-block .rt-block .bottom h4{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:15px; font-weight:400; color:#222222; margin:0; padding:0; }



.leave{ margin:0; padding:0; }
.leave .biggest{ margin:0 auto; padding:0; max-width:800px; }
.leave .biggest .top-tex{ margin:0; padding:10px 0 28px 0; }
.leave .biggest .top-tex h2{ font-family:'Josefin Sans SemiBold'; font-size:24px; line-height:26px; font-weight:400; color:#222222; margin:0; padding:0; }
.leave .biggest .blok{ margin:0; padding:0; }
.leave .biggest .blok .form-group{ margin:0; padding:0; }
.leave .biggest .blok .form-group.checkbox-section{ display: flex; align-items: center; padding: relative;}
.leave .biggest .blok .form-group.checkbox-section p{ padding:7px 0 0 10px; margin:0; font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#222222; }
.leave .biggest .blok .form-group.checkbox-section p:before { content: ""; position: absolute; width: 13px; height: 13px; border:1px solid #FF5300; background: white; top:6px;
left: 15px; }
.leave .biggest .blok .form-group.checkbox-section input[type="checkbox"] { width: 13px; height: 13px; position: relative; z-index: 5; opacity: 0}
.leave .biggest .blok .form-group.checkbox-section input[type="checkbox"]:checked ~ p:before{ background:url(../images/tick.png) no-repeat center; }

.leave .biggest .blok .form-group{ margin:0 0 30px 0; padding:0; }
.leave .biggest .blok .form-group textarea{ height:132px; resize:none; }
.leave .biggest .blok .form-group .form-control{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#222222; margin:0; padding:28px 0 27px 26px; border-radius:3px; }
.leave .biggest .blok .form-group .form-control:focus{ border:1px solid #FF5300; box-shadow:none; }
.leave .biggest .blok .form-group .form-control::-webkit-input-placeholder {
    border-radius: 0; }
.leave .biggest .blok .form-group .form-control:-moz-placeholder {  }
.leave .biggest .blok .form-group .form-control::-moz-placeholder {  }
.leave .biggest .blok .form-group .form-control:-ms-input-placeholder {  }
.leave .biggest .blok .form-group .form-control::-ms-input-placeholder {  }
.leave .biggest .blok .form-group .form-control::placeholder {  }
.leave .biggest .blok .submiit{ margin:0 0 0 15px; padding:0 0 43px 0; }
.leave .biggest .blok .submiit .btn{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#fff; margin:0; padding:12px 22px 11px 22px; background:#FF5300; border-radius:3; transition:all 0.3s ease-in-out; }
.leave .biggest .blok .submiit .btn:hover{ color:#000; }
/*-------Second Blog End-------*/

/*-------Contact Us Start-------*/

.form-section{ margin:0; padding:0 0 60px 0; }
.form-section .big-block{ margin:-90px 0 0 0; padding:0; }
.form-section .big-block .form-block{ margin:0 auto; padding:0px 0 0 0; max-width:900px; padding:49px 40px 0 40px; box-sizing:border-box; background:#fff; position:relative; z-index:2; border-radius:8px; box-shadow:0px 0px 22px 0px rgba(0, 0, 0, 0.09); }
.form-section .big-block .form-block .top-text{ margin:0; padding:0; text-align:center; }
.form-section .big-block .form-block .top-text h2{ font-family:'Josefin Sans SemiBold'; font-size:32px; line-height:34px; font-weight:600; color:#222222; margin:0; padding:0 0 41px 0; }


.form-section .big-block .form-block .form-group{ margin:0 0 50px 0; padding:0; }
.form-section .big-block .form-block .form-group h3{ font-family:'Josefin Sans Regular'; font-size:15px; line-height:17px; font-weight:400; color:#222222; margin:0; padding:0 0 10px 0; }


.form-section .big-block .form-block .form-group textarea{ height:132px; resize:none; }
.form-section .big-block .form-block .form-group .form-control{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#222222; margin:0; border:none; border-bottom:1px solid #E5E5E5; padding-left:0; }
/*.form-section .big-block .form-block .form-group .form-control:focus{ border:1px solid #FF5300; box-shadow:none; }*/
.form-section .big-block .form-block .form-group .form-control::-webkit-input-placeholder {
    border-radius: 0; }
.form-section .big-block .form-block .form-group .form-control:-moz-placeholder {  }
.form-section .big-block .form-block .form-group .form-control::-moz-placeholder {  }
.form-section .big-block .form-block .form-group .form-control:-ms-input-placeholder {  }
.form-section .big-block .form-block .form-group .form-control::-ms-input-placeholder {  }
.form-section .big-block .form-block .form-group .form-control::placeholder {  }
.form-section .big-block .form-block .submiit{ margin:0 0 0 15px; padding:0 0 43px 0; }
.form-section .big-block .form-block .submiit .btn{ font-family:'Josefin Sans Regular'; font-size:14px; line-height:16px; font-weight:400; color:#fff; margin:0; padding:12px 33px 11px 33px; background:#FF5300; border-radius:3; transition:all 0.3s ease-in-out; }
/*.leave .biggest .blok .submiit .btn:hover{ color:#000; }
.footer .top-block form{ background:#fff; margin:-50px 0 0 0; padding:0 20px 0 20px; box-sizing:border-box; box-shadow:-0.209px -1.989px 38px 0px rgba(0, 0, 0, 0.3); }*/


/*____________________________________________
                Media Quaries 
______________________________________________*/

@media only screen and (orientation:landscape) {
body { -webkit-text-size-adjust:none; }
}
@media only screen and (orientation:portrait) {
body { -webkit-text-size-adjust:none; }
}

@media screen and (max-width: 1399px){
.home-slider .desc .text-block .top h2{ padding:0 0 5px 34px; }
.home-slider .desc .text-block .top h1{ font-size:38px; line-height:42px; padding:0 0 14px 0; }
.home-slider .desc .text-block .mid-block{ padding:16px 0 25px 0; }

}

@media screen and (max-width: 1199px){
.home-slider .desc{ bottom:10%; }
.home-slider .desc .text-block .top h2{ padding:0 0 10px 34px; }
.home-slider .desc .text-block .top h1{ font-size:30px; line-height:32px; }
.home-slider .desc .text-block .mid-block{ padding:16px 0 10px 0; }
.home-slider .desc .text-block .bottom h2{ padding:0 32px 16px 0; }
.sf-menu > li:last-child{ padding:0; }
.sf-menu a{ padding-left:10px; }
.latest-product .big-block{ margin:-24px 0 0 0; }
.blog-post{ padding:50px 0 0 0; }
.blog-post .tex{ padding:0 0 16px 0; }
.blog-post .big-blocks .blog-box .box{ padding:20px 20px; }
.blog-post .big-blocks .blog-box .box .top-text::before{ left:-20px; }
.instagram-feed{ padding:50px 0 60px 0; }

.home-slider .description{ bottom:25%; }
.man-section .block{ margin:-50px 0 0 0; }
.man-section .block .text-section h2{ left:34%; top:16%; }
.man-section .block .text-section .bottom{ padding:80px 0 0 40px; }
.subscribe{ padding:40px 0 60px 0; }
.video .bottom .blockss img{ width:100%; }

.form-section{ padding-top:30px; }
.form-section .big-block{ margin:0; }

}
@media screen and (max-width: 991px){
.home-slider .banner.about{ display:block; }
.sf-menu a{ padding-left:0; }
.navbar-default{ background:#F6F7F9; }
.navbar-default .logo-block{ padding:0 0 10px 0; }
.home-slider{ margin:0; }
.home-slider .banner{ display:none; }
.home-slider .banner-second{ display:block; }
.home-slider{ z-index:1; margin:-40px 0 0 0; }
.home-slider .desc{ position:initial; background:#F6F7F9; padding:20px 0 40px 0; }
.navbar-default{ z-index:2; }
.latest-product{ padding:50px 0 0 0; }
.latest-product .big-block{ margin:0; }
.latest-product .big-block .mid-blocks{ padding:0 0 20px 0; }
.blog-post .big-blocks .blog-box .slick-prev.slick-arrow{ left:46%; }
.blog-post .big-blocks .blog-box .slick-next.slick-arrow{ right:46%; }
.subscribe{ padding-bottom:20px; }
.footer .big-block{ flex-direction:column; padding:0; }
.footer .big-block .box{ padding-bottom:40px; }

.man-section{ padding:30px 0 0 0; }
.man-section .block{ margin:0; flex-direction:column; }
.man-section .block .text-section h2{ position:initial; padding:0 0 20px 0; }
.man-section .block .text-section .bottom{ padding:0; }
.man-section .block .text-section{ padding:42px 0 0 0; }
.icon-section{ padding:40px 0 45px 0; }
.man-section .block .text-section p{ padding-bottom:18px; }
.video .top p span{ display:initial; }
.video .bottom .blockss span img{ width:12%; }
.icon-section .big-block .block img{ width:100%; }

}


/*NEW GRID SYSTEM*/
@media screen and (max-width:768px){
.navbar-default .container{ justify-content:center; }
.home-slider .desc .text-block .mid-block img{ width:100%; }
.home-slider .desc .text-block .bottom .big-box{ flex-direction:column; }
.home-slider .desc .text-block .bottom .big-box .box{ margin-bottom:20px; }
.latest-product .big-block .top h2{ padding-bottom:20px; }
.latest-product .big-block .top{ flex-direction:column; }
.blog-post .big-blocks .blog-box .slick-next.slick-arrow{ right:45%; }
.blog-post .big-blocks .blog-box .slick-prev.slick-arrow{ left:45%; }
.blog-post .big-blocks .blog-box{ padding:0 0 24px 0; }
.home-slider .description .text h1{ font-size:32px; line-height:22px; }

.icon-section .big-block .block a{ display:inline-block; margin:0 8px; }
.icon-section .text{ padding:0 0 20px 0; }
.video{ padding:5px 0 0 0; }
.video .top h2{ font-size:22px; line-height:24px; padding:0 0 15px 0; }
.video .top p{ padding:0 0 30px 0; }
.man-section .block .text-section h2{ font-size:24px; line-height:32px; }
.home-slider{ margin:0; }

.blog-post .big-blocks .box{ margin:0 0px 50px 0; }

.leave .biggest .blok .form-group.checkbox-section p::before{ top:12px; }
.programmer .text-block h2{ font-size:26px; line-height:32px; }



}

@media screen and (max-width:575px){
.latest-product .big-block .top h2{ font-size:26px; line-height:28px; }
.latest-product .big-block{ padding:30px 20px; }
.subscribe .block .top-text p span{ display:inline; }

.man-section .block .image-section img{ width:100%; }
.the-reason .big-block .text h2{ padding-bottom:20px; }


}

@media screen and (max-width:500px){
.home-slider .desc .text-block .top h1 span{ display:inline; }
.home-slider .desc .text-block .top h1{ font-size:23px; line-height:26px; }
.blog-post .big-blocks .blog-box .slick-next.slick-arrow{ right:42%; }
.blog-post .big-blocks .blog-box .slick-prev.slick-arrow{ left:42%; }

.man-section .block .text-section h2{ font-size:18px; line-height:26px; padding:0 0 10px 0; }
.video .top h2{ font-size:18px; line-height:20px; }
.video .top p{ font-size:14px; line-height:22px; }
.subscribe .block .top-text h2{ font-size:22px; line-height:24px; }
.icon-section .big-block .block a{ margin:0 6px; }

.the-reason .big-block .man-section .man-block .rt-block .bottom{ flex-direction:column; }
.the-reason .big-block .man-section .man-block .rt-block .bottom h4{ margin-top:10px; }
.the-reason .big-block .man-section .man-block{ padding:0 20px; }

.form-section .big-block .form-block{ padding:49px 15px 0 15px; }


}

@media screen and (max-width:400px){
.home-slider{ margin:0; }
.navbar-default .rt-block .last-block .rt-side{ margin:0 0 0 4px; }
.latest-product .big-block .top h2{ font-size:20px; line-height:22px; }
.latest-product .big-block .top{ padding-bottom:30px; }
.blog-post .big-blocks .blog-box .box{ padding:14px 14px; }
.blog-post .big-blocks .blog-box .box h2{ font-size:20px; line-height:25px; }
.blog-post .big-blocks .blog-box .box p{ padding-bottom:24px; }
.blog-post .big-blocks .blog-box .box .top-text::before{ left:-14px; }
.blog-post .tex{ padding:0; }
.subscribe .block .top-text h2{ font-size:22px; line-height:22px; }
.footer .big-block .box p span{ display:inline; }
.footer .big-block .box .top-text h2{ padding:0 0 10px 0; }
.footer .big-block .box ul li a{ line-height:30px; }

.icon-section .text h2{ font-size:22px; line-height:24px; }
.home-slider .description .text h1{ font-size:26px; line-height:18px; }
.man-section .block .text-section p{ font-size:14px; line-height:22px; }

.blog-post .tex h2{ padding:0 0 14px 0; }
.programmer .text-block h2{ font-size:19px; line-height:25px; }
.programmer .text-block ul{ flex-direction:column; }
.programmer .text-block ul li{ padding:0 11px 8px 0; }
.programmer .bottom{ border-left:none; padding:0; }
.programmer .bottom p{ font-size:19px; line-height:27px; }
.footer .big-block .box .social .icon a{ margin:0 17px 0 0; }

}

@media screen and (max-width:350px){

.navbar-default .rt-block .last-block{ flex-direction:column; }
.navbar-default .rt-block .last-block .lt-side{ margin:0 0 20px 0; }
.navbar-default .rt-block .last-block .rt-side{ margin:0; }

.latest-product .big-block .mid-blocks .block .box h3{ font-size:19px; line-height:24px; }
.subscribe .block .search-bar form .btn{ position:initial; padding:12px 58px 10px 28px; }

.the-reason .big-block .man-section .man-block{ flex-direction:column; }
.leave .biggest .blok .form-group.checkbox-section p::before{ top:20px; }

.form-section .big-block .form-block{ padding:49px 5px 0 5px; }

}